.about{
    height: 100%;
}

.aboutContent{
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    
}

footer{
    background-color:#e8f5e9;
    border-top: 1px solid saddlebrown;
    height: 100%;
    display: grid;
    justify-content: center;
}

.footer-container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

}