
.form{
    display: grid;
    justify-content: center;
}
input{
    width: 100%;
}
.spinner{
    justify-self: center;
}

.otp-btn{
  padding: 7px 10px;
  font-size:medium;
  width: fit-content;
  justify-self: center; 
}
.sec-row{
    margin-top: 1rem;
    margin-bottom:  3rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}
