@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

* { box-sizing: border-box; }

button{
    
    background: green;
    color: white;
    border-radius: 4px;
    border-color: green ;
    border: none;
    outline: 0;
    
    transition: 
    color 0.2s ease;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  